@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Quicksand:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.fondo {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assetsimagenes/mesadulce8.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden; }
  .fondo .colornav {
    background-color: #FCF9C6;
    width: 100%; }

.nav-link {
  font-size: 1.5rem;
  padding-left: 2%;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #7D1A58 !important; }

.principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .principal .galeria {
    width: 50%; }

h1 {
  font-family: "Poppins", sans-serif; }

.carousel-item {
  height: 50vh; }
  .carousel-item img {
    height: 100%; }

.contacto {
  color: white;
  font-family: "Poppins", sans-serif; }

.buttonenviar {
  background-color: #497174;
  border-color: #497174; }

h3 {
  color: white;
  font-family: "Poppins", sans-serif; }

@keyframes float {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-1rem); }
  100% {
    transform: translateY(0); } }

.icon {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  animation: float infinite 4s ease-in-out; }

.ri-facebook-circle-line {
  animation-delay: 0.5s; }

.ri-whatsapp-line {
  animation-delay: 1s; }

.footer {
  background-color: #E14D2A;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding-right: 0;
  padding-left: 20%;
  padding-top: 1%; }
