@import "variables";
@import "reset";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Quicksand:wght@500;600;700&display=swap');


.fondo{
@include gradient-cover-fixed-center-norepet-hidden;
    .colornav {
        background-color:$color-primario;
        width: 100%;
    }    
}
.nav-link{
@include nav-estilos
}

.principal{
@include flex-column-around-center;
    .galeria {
        width: 50%;
    }
}
h1 {
    font-family: $tipografia-principal;
}

.carousel-item{
    height: 50vh;
    img{
        height: 100%;
        object-fit: map-get($estilos, cover );
    }
}

.contacto {
    color: $color-tipografia;
    font-family: $tipografia-principal;
}

.buttonenviar {
    background-color: #497174;
    border-color: #497174;
}

h3{
    color: $color-tipografia;
    font-family: $tipografia-principal;
}

 @keyframes float {
    0%{
        transform: translateY(0); 
    }
    50%{
        transform: translateY(-1rem);
    }
    100%{
        transform: translateY(0);
    }
}

.icon{
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    animation: float infinite 4s ease-in-out ;
}
.ri-facebook-circle-line{
   animation-delay: 0.5s;
}

.ri-whatsapp-line{
  animation-delay: 1s;
}

.footer {
    background-color: $color-segundario;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding-right: 0;
    padding-left: 20%;  
    padding-top: 1%;
    
}